{% extends 'crud/list_page.html' %}

{% block crud_title %}Custos mensais da oficina{% endblock %}
{% block crud_subtitle %}Cálculo mensal dos custos.{% endblock %}

{% block crud_header_actions %}
    <div>
        <a href="{% url 'workshops:cost_list' %}" class="btn btn-primary">Inserir nova despesa mensal</a>
        <a href="{% url 'workshops:workshop_cost_create' %}" class="btn btn-primary">Novo custo mensal</a>
    </div>
{% endblock %}

{% block crud_table_wrapper_id %}workshop-costs-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'workshops:workshop_cost_list' %}{% endblock %}
{% block crud_table_hx_trigger %}workshop-costs-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'workshop_costs/partials/workshop_cost_table.html' %}
{% endblock %}