{
  "openapi": "3.1.0",
  "info": {
    "title": "Webmania Fiscal API - Contexto de integração para Hunter V2",
    "version": "2026-05-27.context.1",
    "description": "Especificação OpenAPI de contexto para implementação da integração fiscal Webmania no Hunter V2. Consolida rotas publicamente documentadas para NF-e/NFC-e, NFS-e, CT-e/CT-e OS, MDF-e, NFCom e DC-e. Este arquivo não é um contrato oficial publicado pela Webmania: valide campos tributários, regras condicionais e alterações futuras diretamente na documentação oficial antes de produção. Schemas com additionalProperties=true preservam campos avançados/provedor-específicos descritos nas páginas oficiais."
  },
  "externalDocs": {
    "description": "Documentação oficial Webmania",
    "url": "https://webmania.com.br/docs/"
  },
  "x-source-documents": {
    "nfe_nfce": "https://webmania.com.br/docs/rest-api-nfe/",
    "nfse": "https://webmania.com.br/docs/rest-api-nfse/",
    "cte_cte_os": "https://webmania.com.br/docs/rest-api-cte/",
    "mdfe": "https://webmania.com.br/docs/rest-api-mdfe/",
    "nfcom": "https://webmania.com.br/docs/rest-api-nfcom/",
    "dce": "https://webmania.com.br/docs/rest-api-dce/"
  },
  "x-hunter-v2-context": {
    "existing_scope": "O Hunter V2 já possui NF-e e NFS-e vinculadas a Orçamentos e Ordens de Serviço em apps.finance.",
    "required_evolution": [
      "Manter compatibilidade com emissão atual de NF-e/NFS-e.",
      "Permitir emissão manual e contextual de todos os modelos fiscais suportados.",
      "Escopar documentos por Account e Workshop/oficina ativa.",
      "Persistir payload enviado, resposta, status, UUID, chave, downloads e eventos.",
      "Expandir webhook e reconciliação para todos os modelos.",
      "Associar opcionalmente documento a Budget, WorkOrder, Customer, Vehicle e FinancialMovement.",
      "Tratar DC-e como recurso beta/feature flag."
    ]
  },
  "tags": [
    {
      "name": "NF-e/NFC-e",
      "description": "API v1 para Nota Fiscal Eletrônica e Nota Fiscal de Consumidor."
    },
    {
      "name": "NFS-e",
      "description": "API v2 para Nota Fiscal de Serviço."
    },
    {
      "name": "CT-e/CT-e OS",
      "description": "API v2 para Conhecimento de Transporte e outros serviços."
    },
    {
      "name": "MDF-e",
      "description": "API v2 para Manifesto Eletrônico de Documentos Fiscais."
    },
    {
      "name": "NFCom",
      "description": "API v2 para Nota Fiscal Fatura de Serviços de Comunicação."
    },
    {
      "name": "DC-e",
      "description": "API v2 beta para Declaração de Conteúdo Eletrônica."
    }
  ],
  "paths": {
    "/1/nfe/emissao/": {
      "post": {
        "summary": "Emitir NF-e ou NFC-e",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/devolucao/": {
      "post": {
        "summary": "Emitir NF-e de devolução/estorno",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/ajuste/": {
      "post": {
        "summary": "Emitir NF-e de ajuste",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeAdjustmentRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/complementar/": {
      "post": {
        "summary": "Emitir NF-e complementar",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/cartacorrecao/": {
      "post": {
        "summary": "Emitir Carta de Correção Eletrônica (CC-e)",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeCorrectionRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/manifesta/": {
      "post": {
        "summary": "Manifestar destinatário da NF-e",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeManifestationRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/evento-ibs-cbs/": {
      "post": {
        "summary": "Registrar evento IBS/CBS vinculado à NF-e/NFC-e",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeIbsCbsEventRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/evento-ibs-cbs/cancelar/": {
      "put": {
        "summary": "Cancelar evento IBS/CBS autorizado",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeCancelIbsCbsEventRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/classe-imposto/": {
      "post": {
        "summary": "Criar ou editar classe de imposto",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxClassRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar classes de imposto",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir classe de imposto",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxClassRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/empresa/": {
      "post": {
        "summary": "Atualizar empresa Webmania",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/relatorios/": {
      "post": {
        "summary": "Exportar relatórios CSV, XML ou DANFE",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeReportRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/consulta/": {
      "get": {
        "summary": "Consultar nota fiscal por UUID, chave ou ID",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            },
            "required": false
          },
          {
            "name": "chave",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AccessKey44"
            },
            "required": false
          },
          {
            "name": "ID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/1/nfe/sefaz/": {
      "get": {
        "summary": "Consultar status da SEFAZ",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/1/nfe/certificado/": {
      "get": {
        "summary": "Consultar validade do certificado A1",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/1/nfe/cancelar/": {
      "put": {
        "summary": "Cancelar NF-e/NFC-e ou substituir NFC-e",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeCancelRequest"
              }
            }
          }
        }
      }
    },
    "/1/nfe/inutilizar/": {
      "put": {
        "summary": "Inutilizar sequência de numeração",
        "tags": [
          "NF-e/NFC-e"
        ],
        "security": [
          {
            "XConsumerKey": [],
            "XConsumerSecret": [],
            "XAccessToken": [],
            "XAccessTokenSecret": []
          }
        ],
        "servers": [
          {
            "url": "https://webmania.com.br/api",
            "description": "Webmania REST API v1 - NF-e/NFC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfeInvalidateRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfse/emissao": {
      "post": {
        "summary": "Emitir NFS-e por RPS/lote",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfseEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfse/substituir": {
      "post": {
        "summary": "Substituir NFS-e",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfseSubstituteRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfse/manifestar": {
      "post": {
        "summary": "Manifestar participação em NFS-e do Padrão Nacional",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfseManifestRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfse/consulta/{identifier}": {
      "get": {
        "summary": "Consultar NFS-e ou lote RPS por UUID",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/nfse/status": {
      "get": {
        "summary": "Consultar status e recursos do provedor municipal",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/nfse/cancelar": {
      "put": {
        "summary": "Cancelar NFS-e ou agendamento",
        "tags": [
          "NFS-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfseCancelRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/emissao": {
      "post": {
        "summary": "Emitir CT-e ou CT-e OS",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CteEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/emissao/simplificada": {
      "post": {
        "summary": "Emitir CT-e simplificado",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Não disponível para CT-e OS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CteSimplifiedEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/entrega": {
      "post": {
        "summary": "Registrar evento de entrega do CT-e",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Não utilizado para CT-e OS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CteDeliveryRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/entrega/cancelar": {
      "put": {
        "summary": "Cancelar evento de entrega do CT-e",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Não utilizado para CT-e OS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CteDeliveryCancelRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/correcao": {
      "post": {
        "summary": "Emitir Carta de Correção do CT-e/CT-e OS",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CteCorrectionRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/consulta/{identifier}": {
      "get": {
        "summary": "Consultar CT-e ou CT-e OS",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/cte/cancelar": {
      "put": {
        "summary": "Cancelar CT-e ou CT-e OS",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByIdentifierRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/evento": {
      "post": {
        "summary": "Vincular evento de pagamento ao CT-e",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CtePaymentEventRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/evento/cancelar": {
      "put": {
        "summary": "Cancelar vinculação de pagamento do CT-e",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CtePaymentCancelRequest"
              }
            }
          }
        }
      }
    },
    "/2/cte/consulta/evento/{identifier}": {
      "get": {
        "summary": "Consultar histórico de eventos de pagamento do CT-e",
        "tags": [
          "CT-e/CT-e OS"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/mdfe/emissao": {
      "post": {
        "summary": "Emitir MDF-e",
        "tags": [
          "MDF-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MdfeEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/mdfe/consulta/{identifier}": {
      "get": {
        "summary": "Consultar MDF-e",
        "tags": [
          "MDF-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/mdfe/encerrar": {
      "put": {
        "summary": "Encerrar MDF-e",
        "tags": [
          "MDF-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MdfeCloseRequest"
              }
            }
          }
        }
      }
    },
    "/2/mdfe/cancelar": {
      "put": {
        "summary": "Cancelar MDF-e",
        "tags": [
          "MDF-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByIdentifierRequest"
              }
            }
          }
        }
      }
    },
    "/2/mdfe/condutor": {
      "put": {
        "summary": "Incluir condutor em MDF-e rodoviário",
        "tags": [
          "MDF-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MdfeDriverRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfcom/emissao": {
      "post": {
        "summary": "Emitir ou gerar prévia de NFCom",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfcomEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfcom/cancelar": {
      "put": {
        "summary": "Cancelar NFCom",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfcomCancelRequest"
              }
            }
          }
        }
      }
    },
    "/2/nfcom/consulta/{identifier}": {
      "get": {
        "summary": "Consultar NFCom",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/nfcom/status": {
      "get": {
        "summary": "Consultar status do serviço NFCom na SEFAZ",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xmlnfcom/{identifier}": {
      "get": {
        "summary": "Baixar XML emitido ou prévia NFCom",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/danfecom/{identifier}": {
      "get": {
        "summary": "Baixar DANFECOM",
        "tags": [
          "NFCom"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/dce/emissao": {
      "post": {
        "summary": "Emitir DC-e (BETA)",
        "tags": [
          "DC-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "201": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DceEmissionRequest"
              }
            }
          }
        }
      }
    },
    "/2/dce/consulta/{identifier}": {
      "get": {
        "summary": "Consultar DC-e por UUID ou chave",
        "tags": [
          "DC-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "UUID ou chave de acesso do documento.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/2/dce/cancelar": {
      "put": {
        "summary": "Cancelar DC-e (BETA)",
        "tags": [
          "DC-e"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "url": "https://api.webmania.com.br",
            "description": "Webmania REST API v2 - NFS-e, CT-e, MDF-e, NFCom e DC-e"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou regra fiscal não atendida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByIdentifierRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "XConsumerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Consumer-Key"
      },
      "XConsumerSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Consumer-Secret"
      },
      "XAccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Access-Token"
      },
      "XAccessTokenSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Access-Token-Secret"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Access-Token"
      }
    },
    "schemas": {
      "Environment": {
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "description": "1 = Produção; 2 = Homologação."
      },
      "Uuid": {
        "type": "string",
        "format": "uuid"
      },
      "AccessKey44": {
        "type": "string",
        "minLength": 44,
        "maxLength": 44,
        "description": "Chave de acesso do documento fiscal."
      },
      "Money": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          }
        ],
        "description": "Valor monetário decimal; usar Decimal no backend."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "msg": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "GenericResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "DocumentIdentifierBody": {
        "type": "object",
        "properties": {
          "uuid": {
            "$ref": "#/components/schemas/Uuid"
          },
          "chave": {
            "$ref": "#/components/schemas/AccessKey44"
          }
        },
        "oneOf": [
          {
            "required": [
              "uuid"
            ]
          },
          {
            "required": [
              "chave"
            ]
          }
        ],
        "additionalProperties": true
      },
      "CancelByIdentifierRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentIdentifierBody"
          },
          {
            "type": "object",
            "properties": {
              "justificativa": {
                "type": "string",
                "minLength": 15,
                "maxLength": 255
              }
            },
            "required": [
              "justificativa"
            ]
          }
        ]
      },
      "V2DocumentResponse": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "uuid": {
            "$ref": "#/components/schemas/Uuid"
          },
          "chave": {
            "type": "string"
          },
          "serie": {
            "type": "integer"
          },
          "numero": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "aprovado",
              "reprovado",
              "cancelado",
              "encerrado",
              "processando",
              "contingencia"
            ]
          },
          "motivo": {
            "type": "string"
          },
          "modelo": {
            "type": "string"
          },
          "epec": {
            "type": "boolean"
          },
          "xml": {
            "type": "string",
            "format": "uri"
          },
          "xml_cancelamento": {
            "type": "string",
            "format": "uri"
          },
          "dacte": {
            "type": "string",
            "format": "uri"
          },
          "damdfe": {
            "type": "string",
            "format": "uri"
          },
          "danfecom": {
            "type": "string",
            "format": "uri"
          },
          "dace": {
            "type": "string",
            "format": "uri"
          },
          "log": {
            "type": [
              "object",
              "array"
            ]
          }
        },
        "additionalProperties": true
      },
      "BrazilianParty": {
        "type": "object",
        "description": "Pessoa/empresa envolvida. Campos variam conforme modelo e papel fiscal.",
        "properties": {
          "cpf": {
            "type": "string"
          },
          "cnpj": {
            "type": "string"
          },
          "nome_completo": {
            "type": "string"
          },
          "razao_social": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "telefone": {
            "type": "string"
          },
          "endereco": {
            "type": "string"
          },
          "logradouro": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "complemento": {
            "type": "string"
          },
          "bairro": {
            "type": "string"
          },
          "cidade": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "codigo_municipio": {
            "type": "string"
          },
          "uf": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "cep": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "FiscalProduct": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "codigo": {
            "type": "string"
          },
          "ncm": {
            "type": "string"
          },
          "cest": {
            "type": "string"
          },
          "quantidade": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
[...]
