{% extends 'crud/list_page.html' %}

{% block crud_title %}Grupos de mensagens{% endblock %}
{% block crud_subtitle %}Monte grupos fixos de clientes para campanhas, avisos e mensagens de aniversário via WhatsApp.{% endblock %}

{% block crud_header_actions %}
    <div class="flex flex-col gap-2 sm:flex-row">
        <a href="{% url 'messaging:message_template_list' %}" class="btn btn-outline">Mensagens cadastradas</a>
        <a href="{% url 'messaging:customer_message_group_create' %}" class="btn btn-primary">Novo grupo</a>
    </div>
{% endblock %}

{% block crud_table_wrapper_id %}customer-message-groups-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'messaging:customer_message_group_list' %}{% endblock %}
{% block crud_table_hx_trigger %}customer-message-groups-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'messaging/partials/customer_message_group_table.html' %}
{% endblock %}
