{% extends 'crud/form_page.html' %}

{% block crud_title %}Editar grupo de mensagens{% endblock %}
{% block crud_subtitle %}Atualize a mensagem, os clientes selecionados e acompanhe o histórico de disparos.{% endblock %}
{% block crud_back_url %}{% url 'messaging:customer_message_group_list' %}{% endblock %}

{% block crud_header_actions %}
    {% if object and object.pk %}
        <button
            type="button"
            class="btn btn-primary btn-sm gap-2"
            hx-get="{% url 'messaging:customer_message_group_dispatch' object.pk %}"
            hx-target="#modal-container"
            hx-swap="innerHTML"
        >
            <span class="material-icons text-sm">send</span>
            Disparar mensagens
        </button>
    {% endif %}
{% endblock %}

{% block crud_form %}
    {% include 'messaging/partials/customer_message_group_form.html' %}
{% endblock %}
