{% extends 'crud/list_page.html' %}

{% block crud_title %}Avaliações{% endblock %}
{% block crud_subtitle %}Acompanhe as pesquisas de satisfação enviadas após a entrega das ordens de serviço.{% endblock %}

{% block crud_header_actions %}{% endblock %}

{% block crud_table_wrapper_id %}satisfaction-reviews-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'messaging:satisfaction_review_list' %}{% endblock %}
{% block crud_table_hx_trigger %}satisfaction-reviews-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'messaging/partials/satisfaction_review_table.html' %}
{% endblock %}
