{% extends 'crud/list_page.html' %}

{% block crud_title %}Capacidades municipais NFS-e{% endblock %}
{% block crud_subtitle %}Controle conservador das operacoes permitidas para a oficina e municipio emissor.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'finance:nfse_list' %}" class="btn btn-ghost">Voltar para NFS-e</a>
    <a href="{% url 'finance:nfse_capability_create' %}" class="btn btn-primary">Nova capacidade</a>
{% endblock %}

{% block crud_table_wrapper_id %}nfse-capabilities-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'finance:nfse_capability_list' %}{% endblock %}

{% block crud_table %}
    {% include 'crud/partials/table.html' with queryset=capabilities fields=fields actions=actions table_id='nfse-capabilities-table' %}
{% endblock %}
