{% extends 'crud/form_page.html' %}

{% block crud_title %}Editar Produto{% endblock %}
{% block crud_subtitle %}Atualização de dados da peça.{% endblock %}
{% block crud_back_url %}{% url 'catalog:product_list' %}{% endblock %}

{% block crud_tabs_form %}
        {% include 'products/partials/product_tabs.html' %}
{% endblock %}

{% block section_kit_attribution_content %}
    {% include 'products/sections/product_kits_attribution.html' %}
{% endblock %}

{% block section_product_stock %}
    {% include 'products/sections/product_stock.html' %}
{% endblock %}


{% block crud_form %}
    {% crispy form %}
{% endblock %}