{% extends 'crud/list_page.html' %}

{% block crud_title %}Produtos{% endblock %}
{% block crud_subtitle %}Gerenciamento de peças e produtos do estoque.{% endblock %}

{% block crud_header_actions %}
    {% url 'catalog:product_create' as product_create_url %}
    {% include 'favorites/partials/favoritable_action_link.html' with action_url=product_create_url action_label='Novo Produto' favorite_url=product_create_url favorite_label='Novo Produto' %}
{% endblock %}

{% block crud_table_wrapper_id %}products-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'catalog:product_list' %}{% endblock %}
{% block crud_table_hx_trigger %}products-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'products/partials/product_table.html' %}
{% endblock %}
