{% with empty_center=empty_center|default:False %}
    {% if cell.is_boolean %}
        {% if cell.bool_value %}
            <span class="badge badge-soft badge-success badge-sm">Sim</span>
        {% else %}
            <span class="badge badge-soft badge-error badge-sm">Não</span>
        {% endif %}
    {% else %}
        {% if cell.value == None %}
            None

        {% elif cell.format == "status_badge" %}
            <span class="badge {{ cell.value.class }} badge-sm no-wrap">{{ cell.value.text }}</span>

        {% elif cell.format %}
            <span
                data-hf="{{ cell.format }}"
                data-hf-raw="{{ cell.value }}"
            >{{ cell.value }}</span>
        {% else %}
            {{ cell.value }}
        {% endif %}
    {% endif %}
{% endwith %}
