{% load crispy_forms_tags l10n %}
<div id="import-step-wrapper" class="w-full"
     hx-get="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
     hx-trigger="sourceCreated from:body"
     hx-target="#step-container"
     hx-indicator="#loading-spinner"
     hx-swap="innerHTML">

    {% include 'navbar/stepper.html' %}

    <div class="flex items-center justify-between mb-6">
        {% if current_step > 1 %}
            {% if object.pk %}
                {% url 'finance:financial_movement_update' object.pk as back_url_base %}
            {% else %}
                {% url 'finance:financial_movement_create' as back_url_base %}
            {% endif %}
            <button type="button" class="btn btn-outline"
                    hx-get="{{ back_url_base }}?step={{ current_step|add:-1 }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
                    hx-target="#step-container"
                    hx-push-url="true">
                <span class="material-icons">arrow_back</span> Voltar
            </button>
        {% else %}
            <div></div>
        {% endif %}

        <div class="flex items-center gap-2">
            {% if object.pk %}
                <button
                    type="button"
                    class="btn btn-error btn-outline"
                    hx-get="{% if object.payroll_id %}{% url 'finance:financial_movement_remove_payroll_link' object.pk %}{% else %}{% url 'finance:financial_movement_delete' object.pk %}{% endif %}"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    <span class="material-icons">{% if object.payroll_id %}link_off{% else %}delete{% endif %}</span>
                    {% if object.payroll_id %}Excluir da Folha{% else %}Excluir{% endif %}
                </button>
            {% endif %}

            <button type="submit" form="movement-form" class="btn btn-primary">
                {% if current_step == steps_config|length %} Salvar e Finalizar {% else %} Próxima Etapa {% endif %}
            </button>
        </div>
    </div>

    <div id="form-container">
        <form id="movement-form"
              hx-post="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
              hx-target="#step-container"
              hx-encoding="multipart/form-data"
              enctype="multipart/form-data"
              hx-swap="innerHTML">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
