{% load crispy_forms_tags %}
<div id="import-step-wrapper" class="w-full"
     hx-get="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
     hx-trigger="sourceCreated from:body"
     hx-target="#step-container"
     hx-indicator="#loading-spinner"
     hx-swap="innerHTML">

    {% include 'navbar/stepper.html' %}

    <div class="flex items-center justify-between mb-6">
        {% if current_step > 1 %}
            {% if object.pk %}
                {% url 'finance:financial_movement_update' object.pk as back_url_base %}
            {% else %}
                {% url 'finance:financial_movement_create' as back_url_base %}
            {% endif %}
            <button type="button" class="btn btn-outline"
                    hx-get="{{ back_url_base }}?step={{ current_step|add:-1 }}{% if object.pk %}&pk={{ object.pk }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
                    hx-target="#step-container"
                    hx-push-url="true">
                <span class="material-icons">arrow_back</span> Voltar
            </button>
        {% else %}
            <div></div>
        {% endif %}

        <button type="submit" form="movement-form" class="btn btn-primary">
            {% if current_step == steps_config|length %} Salvar e Finalizar {% else %} Próxima Etapa {% endif %}
        </button>
    </div>

    <div id="form-container">
        <form id="movement-form"
              hx-post="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk }}{% endif %}{% if next_url %}&next={{ next_url|urlencode }}{% endif %}"
              hx-target="#step-container"
              hx-encoding="multipart/form-data"
              enctype="multipart/form-data"
              hx-swap="innerHTML">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
