@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";

@plugin 'daisyui' {
    themes: light, dark;
}

/* We need to declare the new variables here before defining them inside the DaisyUI themes */
@theme {
    --color-background: 0;

    --color-navbar: 0;
    --color-navbar-text: 0;

    --color-input-base: 0;
    --color-input-ring: 0;
}

@plugin "daisyui/theme" {
    name: light;
    color-scheme: light;

    /* Default theme variables*/
    --color-primary: #1e3a8a;

    --color-background: var(--color-base-200);

    --color-navbar: var(--color-primary);
    --color-navbar-text: var(--color-base-100);

    --color-input-base: var(--color-base-100);
    --color-input-ring: var(--color-base-300);
}

@plugin "daisyui/theme" {
    name: dark;
    color-scheme: dark;
    prefersdark: true;

    /* Default theme variables*/
    --color-primary: #1e3a8a;

    --color-background: var(--color-base-200);

    --color-navbar: var(--color-primary);
    --color-navbar-text: var(--color-base-content);

    --color-input-base: var(--color-base-200);
    --color-input-ring: var(--color-base-200);
}


@layer components {
    .input-theme {
        @apply w-full py-1.5 px-3 rounded-md;
        @apply bg-input-base text-base-content;
        @apply transition-all ease-in-out duration-[250ms];
        @apply ring-1 ring-input-ring focus:outline-none focus:ring-2 focus:ring-primary;
        @apply shadow-sm;
    }

    /* Força o estilo nas mensagens de erro do Crispy Forms */
    p[id^="error_"] {
        @apply text-error text-xs mt-1;
    }

    .btn-form-cancel {
        @apply btn btn-ghost text-base-content/70;
    }
    .btn-form-save {
        @apply btn btn-primary px-8;
    }

    /*apps.core.tables.py*/
    .btn-table-edit {
        @apply btn btn-sm btn-primary;
    }
    .btn-table-delete {
        @apply btn btn-sm btn-error text-white;
    }
}

@layer base {
    label {
        @apply block font-medium text-base-content/90 mb-1.5;
    }

    .asteriskField {
        @apply text-error ml-0.5;
    }
}