{% extends 'crud/list_page.html' %}

{% block crud_title %}Colaboradores{% endblock %}
{% block crud_subtitle %}Colaboradores cadastrados na oficina ativa.{% endblock %}

{% block crud_header_actions %}
    {% url 'collaborators:collaborator_create' as collaborator_create_url %}
    {% include 'favorites/partials/favoritable_action_link.html' with action_url=collaborator_create_url action_label='Criar colaborador' favorite_url=collaborator_create_url favorite_label='Criar colaborador' %}
{% endblock %}

{% block crud_table_wrapper_id %}collaborators-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'collaborators:collaborator_list' %}{% endblock %}
{% block crud_table_hx_trigger %}collaborators-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'collaborators/partials/collaborator_table.html' %}
{% endblock %}
