{% extends 'crud/list_page.html' %}

{% block crud_title %}Conta Bancária{% endblock %}
{% block crud_subtitle %}Contas Bancárias cadastradas na Oficina{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'finance:bank_account_create' %}" class="btn btn-primary">Nova Conta Bancária</a>
{% endblock %}

{% block crud_table_wrapper_id %}bank_account-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'finance:bank_account_list' %}{% endblock %}
{% block crud_table_hx_trigger %}bank_account-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'finance/partials/bank_account/bank_account_table.html' %}
{% endblock %}