{% extends 'crud/list_page.html' %}

{% block crud_title %}Notas Fiscais Emitidas{% endblock %}
{% block crud_subtitle %}Acompanhe as solicitacoes de emissao de Nota Fiscal vinculadas as ordens de servico.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'finance:fiscal_referenced_basis_list' %}" class="btn btn-outline">Bases credito/debito</a>
    <a href="{% url 'finance:emission_create' %}?tipo=nfe&reset=1" class="btn btn-primary">Emitir nova Nota Fiscal</a>
{% endblock %}

{% block crud_table_wrapper_id %}nfe-request-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'finance:nfe_emit' %}{% endblock %}
{% block crud_table_hx_trigger %}nfe-request-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'finance/partials/nfe_request_table.html' %}
{% endblock %}
