{% extends 'crud/list_page.html' %}

{% block crud_title %}Notas Fiscais Emitidas{% endblock %}
{% block crud_subtitle %}Acompanhe as solicitações de NF-e emitidas por Ordem de Serviço ou manualmente.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'finance:emission_create' %}" class="btn btn-primary">Emitir nova NF-e</a>
{% endblock %}

{% block crud_table_wrapper_id %}nfe-request-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'finance:nfe_emit' %}{% endblock %}
{% block crud_table_hx_trigger %}nfe-request-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'finance/partials/nfe_request_table.html' %}
{% endblock %}
