{% extends 'crud/list_page.html' %}

{% block crud_title %}Colaboradores{% endblock %}
{% block crud_subtitle %}Colaboradores cadastrados na oficina ativa.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'workshops:employee_create' %}" class="btn btn-primary">Criar colaborador</a>
{% endblock %}

{% block crud_table_wrapper_id %}employees-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'workshops:employee_list' %}{% endblock %}
{% block crud_table_hx_trigger %}employees-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'workshops/partials/employee_table.html' %}
{% endblock %}
