{% extends 'crud/list_page.html' %}

{% block crud_title %}Oficinas{% endblock %}
{% block crud_subtitle %}Cadastre, edite ou remova oficinas.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'workshops:create' %}" class="btn btn-primary">Cadastrar Oficina</a>
{% endblock %}

{% block crud_table_wrapper_id %}workshops-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'workshops:list' %}{% endblock %}
{% block crud_table_hx_trigger %}workshops-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'workshops/partials/workshop_table.html' %}
{% endblock %}
