<div
    id="{{ table_id }}"
    class="w-full"
    x-data="{
        all: false,
        toggleAll() {
            $el.querySelectorAll('input.row-checkbox').forEach(cb => cb.checked = this.all)
        }
    }"
    @htmx:after-swap.window="all = false"
>
    <div id="{{ table_id }}-content" hx-disinherit="hx-vals">
        {% include "tables/partials/_table_controls.html" %}

        {% include "tables/partials/_table_cards_mobile.html" %}
        {% include "tables/partials/_table_desktop.html" %}
        {% include "tables/partials/_pagination.html" %}
    </div>
</div>
