<div>
    <input
            type="checkbox"
            name="{{ widget.name }}"
            id="{{ widget.attrs.id }}"
            class="toggle toggle-primary"
            {% if widget.attrs.checked %}checked{% endif %}
            {% if widget.attrs.required %}required{% endif %}
            {% if widget.attrs.disabled %}disabled{% endif %}
            {% for name, value in widget.attrs.items %}
                {% if name != "id" and name != "required" and name != "disabled" and name != "checked" and name != "class" %}
                    {% if value is True %}{{ name }}{% elif value is False or value is None %}{% else %}{{ name }}="{{ value|escape }}"{% endif %}
                {% endif %}
            {% endfor %}
        >
</div>