{% with raw=widget.value|default_if_none:"" %}
<div
  x-data="formatters.widget.docInput('{{ raw|escapejs }}', '{{ widget.doc_mode|default:"both"|escapejs }}')"
  x-init="init()"
>
  <input
    type="text"
    x-ref="display"
    @input="handleInput"
    inputmode="numeric"
    autocomplete="off"
    :placeholder="mode() === 'cpf' ? '000.000.000-00' : (mode() === 'cnpj' ? '00.000.000/0000-00' : 'CPF ou CNPJ')"
    class="input-theme {{ widget.attrs.class }}"
  >

  <input
    type="hidden"
    x-ref="value"
    name="{{ widget.name }}"
    id="{{ widget.attrs.id }}"
    value="{{ raw }}"
  >
</div>
{% endwith %}