{% load l10n %}

{% with amount=widget.subwidgets.0 currency=widget.subwidgets.1 %}
<div
    x-data="formatters.widget.moneyInput('{{ amount.value|default_if_none:""|unlocalize|escapejs }}')"
    x-init="init()"
    class="relative"
>
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <span class="sm:text-sm">R$</span>
    </div>

    <!-- input visível (apenas UI) -->
    <input
        type="text"
        x-ref="display"
        @input="handleInput"
        inputmode="numeric"
        autocomplete="off"
        placeholder="0,00"
        class="input-theme pl-8 pr-2 {{ widget.attrs.class }}"
    >

    <!-- subwidget real do valor (vai no POST) -->
    <input
        type="hidden"
        x-ref="amount"
        name="{{ amount.name }}"
        id="{{ amount.attrs.id }}"
        value="{{ amount.value|default_if_none:''|unlocalize }}"
    >

    <!-- subwidget real da moeda (fixo) -->
    <input
        type="hidden"
        name="{{ currency.name }}"
        id="{{ currency.attrs.id }}"
        value="{{ currency.value|default_if_none:'BRL' }}"
    >
</div>
{% endwith %}