{% with raw=widget.value|default_if_none:"" %}
<div>
    <div
        x-data="formatters.widget.numberInput('{{ raw|escapejs }}', '{{ widget.number_mode|default:"positive"|escapejs }}')"
        x-init="init()"
    >
        <input
            type="text"
            x-ref="display"
            @input="handleInput"
            inputmode="numeric"
            autocomplete="off"
            :placeholder="mode === 'positive' ? '0' : (mode === 'negative' ? '-0' : '±0')"
            class="input-theme"
        >

        <input
            type="hidden"
            x-ref="value"
            name="{{ widget.name }}"
            id="{{ widget.attrs.id }}"
            value="{{ raw }}"
        >
    </div>
</div>
{% endwith %}