{% with raw=widget.value|default_if_none:"" %}
<div
    x-data="formatters.widget.phoneInput('{{ raw|escapejs }}')"
    x-init="init()"
>
    <input
        type="text"
        x-ref="display"
        @input="handleInput"
        inputmode="numeric"
        autocomplete="off"
        placeholder="(11) 99999-9999"
        class="input-theme {{ widget.attrs.class }}"
    >

    <input
        type="hidden"
        x-ref="value"
        name="{{ widget.name }}"
        id="{{ widget.attrs.id }}"
        value="{{ raw }}"
    >
</div>
{% endwith %}