{% with raw=widget.value|default_if_none:"" %}
<div
    x-data="formatters.widget.rgInput('{{ raw|escapejs }}')"
    x-init="init()"
>
    <input
        type="text"
        x-ref="display"
        @input="handleInput"
        inputmode="text"
        autocomplete="off"
        placeholder="00.000.000-0"
        class="input-theme {{ widget.attrs.class }}"
    >

    <input
        type="hidden"
        x-ref="value"
        name="{{ widget.name }}"
        id="{{ widget.attrs.id }}"
        value="{{ raw }}"
    >
</div>
{% endwith %}