<div class="mb-5 ml-5">
    <div class="flex items-center justify-between">
        {% for step in steps_config %}
        <div class="flex flex-col items-center flex-1 position-relative">
            {% if not forloop.first %}
                <div class="absolute w-full h-1 bg-gray-200 top-5 -left-1/2 {% if step.number <= current_step %}bg-primary{% endif %}"></div>
            {% endif %}

            <div class="px-9 text-base font-semibold">
                {{ step.title }}
            </div>

            <div class="z-10 flex items-center justify-center w-full h-5 text-base text-gray-700
                {% if step.number < current_step %} bg-success cursor-pointer
                {% elif step.number == current_step %} bg-yellow-300
                {% else %} bg-gray-300 {% endif %}"
                {% if step.number < current_step %} hx-get="?step={{ step.number }}" hx-target="#form-container" {% endif %}>
                {{ step.number }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>