<div class="mb-9 w-[90%] mx-auto">
    <div class="flex items-center justify-between gap-3">
        {% for step in steps_config %}
        <div class="flex flex-col items-center flex-1 position-relative">
            <div class="px-6 text-base font-semibold">
                {{ step.title }}
            </div>

            <div class="z-10 flex items-center justify-center w-full h-5 text-base text-gray-700
                {% if step.number < current_step %} bg-success cursor-pointer
                {% elif step.number == current_step %} bg-yellow-300
                {% else %} bg-gray-300 {% endif %}"
                {% if step.number < current_step %} hx-get="?step={{ step.number }}" hx-target="#form-container" {% endif %}>
                {{ step.number }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>