{% load crispy_forms_tags %}
<div class="modal-box w-11/12 max-w-2xl min-h-[70vh] max-h-[90vh] overflow-y-auto bg-base-100 shadow-2xl border border-base-300">
    <h3 class="font-bold text-2xl mb-6 flex items-center gap-2">
      <span class="material-icons">{% if form.instance.pk %}edit{% else %}add_circle{% endif %}</span>
      {% if form.instance.pk %}Editar{% else %} Cadastro Rápido{% endif %}
    </h3>

    <form id="quick-form" hx-post="{{ request.path }}" hx-target="#modal-container" hx-swap="innerHTML">
        {% csrf_token %}
        {% if customer_id_persist %}<input type="hidden" name="customer_id_persist" value="{{ customer_id_persist }}">{% endif %}
        {% crispy form %}

        <div class="col-span-12 divider my-1 pt-4"></div>
        <div class="modal-action">
            <button type="button" class="btn btn-ghost" onclick="this.closest('dialog').close()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
