<div class="app-tabs-connected tabs tabs-lift mt-7">
    <input
        type="radio"
        name="product_tabs"
        value="cadastro"
        class="tab"
        aria-label="Cadastro"
        x-model="activeTab"
    />

    <input
        type="radio"
        name="product_tabs"
        value="atribuicao_kit"
        class="tab"
        aria-label="Atribuição a Kits"
        x-model="activeTab"
    />

    <input
        type="radio"
        name="product_tabs"
        value="estoque"
        class="tab"
        aria-label="Estoque"
        x-model="activeTab"
    />

    <input
        type="radio"
        name="product_tabs"
        value="historico"
        class="tab"
        aria-label="Histórico"
        x-model="activeTab"
    />

    <input
        type="radio"
        name="product_tabs"
        value="movimentacao"
        class="tab"
        aria-label="Movimentação"
        x-model="activeTab"
    />
</div>
