{% if products %}
<ul class="menu bg-base-100 w-full rounded-box shadow-lg border border-base-200 mt-1 absolute z-50 max-h-64 overflow-y-auto">
    {% for product in products %}
    <li>
        <button type="button"
                class="flex flex-col items-start py-2 h-auto"
                @click="$dispatch('add-equivalent', {
                    id: '{{ product.id }}',
                    name: '{{ product.code }} - {{ product.name|escapejs }}'
                });">

            <div class="flex flex-col items-start text-left w-full">
                <span class="font-bold text-sm">{{ product.name }}</span>

                <div class="text-xs text-gray-500 mt-0.5">
                    <span class="font-mono bg-base-200 px-1 rounded">{{ product.code }}</span>
                    {% if product.brand %}
                        <span class="mx-1">|</span> {{ product.brand }}
                    {% endif %}
                </div>
            </div>
        </button>
    </li>
    {% endfor %}
</ul>
{% endif %}
