{% load crispy_forms_tags %}
{% include 'navbar/stepper.html' %}

<div class="flex items-center justify-between mb-6">
    {% if current_step > 1 %}
        {% if is_update %}
            {% url 'finance:nfe_update' object.pk as back_url_base %}
        {% else %}
            {% url 'finance:nfe_create' as back_url_base %}
        {% endif %}

        <button type="button"
                hx-get="{{ back_url_base }}?step={{ current_step|add:-1 }}{% if object.pk %}&pk={{ object.pk }}{% endif %}"
                hx-target="#step-container"
                hx-push-url="true"
                class="btn btn-outline">
            <span class="material-icons">arrow_back</span> Voltar
        </button>
    {% else %}
        <div></div>
    {% endif %}

    <button type="submit" form="nfe-form" class="btn btn-primary">
        {% if current_step == steps_config|length %}Finalizar{% else %}Salvar e Continuar{% endif %}
    </button>
</div>

<div id="form-container">
    <form id="nfe-form"
          hx-post="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk }}{% endif %}"
          hx-target="#step-container"
          hx-swap="innerHTML">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
