{% load crispy_forms_tags l10n %}

<div id="import-step-wrapper" class="w-full"
     hx-get="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}"
     hx-trigger="productCreated from:body, sefaz-list-refresh from:body"
     hx-target="#step-container"
     hx-indicator="#loading-spinner"
     hx-swap="innerHTML">

    {% include 'navbar/stepper.html' %}

    <div class="flex items-center justify-between mb-6">
        {% if current_step > 1 %}
            {% if object.pk %}
                {% url 'stock:stock_update' object.pk as back_url_base %}
            {% else %}
                {% url 'stock:import' as back_url_base %}
            {% endif %}

            <button type="button" class="btn btn-outline"
                    hx-get="{{ back_url_base }}?step={{ current_step|add:-1 }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}"
                    hx-target="#step-container"
                    hx-push-url="true">
                <span class="material-icons">arrow_back</span> Voltar
            </button>
        {% else %}
            <div></div>
        {% endif %}

        <div class="flex items-center gap-3">
            {% if current_step == steps_config|length and object.pk and object.xml_file_key %}
            <a href="{% url 'stock:xml_download' object.pk %}?inline=1" target="_blank" rel="noopener" class="btn btn-outline">
                <span class="material-icons">description</span>
                Analisar NF de Entrada
            </a>
            {% endif %}
            <button type="submit" form="import-form" class="btn btn-primary">
                {% if current_step == steps_config|length %} Finalizar Importação {% else %} Próxima Etapa {% endif %}
            </button>
        </div>
    </div>

    <div id="form-container">
        <form id="import-form"
              method="post"
              action="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}"
              hx-post="{{ request.path }}?step={{ current_step }}{% if object.pk %}&pk={{ object.pk|unlocalize }}{% endif %}"
              hx-target="#step-container"
              hx-encoding="multipart/form-data"
              enctype="multipart/form-data"
              hx-swap="innerHTML">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
