<section id="tab-kits">
    <div class="card bg-base-200 shadow-xl">
        <div
            class="card-body p-6 md:p-8 space-y-6"
            x-data="{
                search: '',
            }"
        >

            <!-- TÍTULO -->
            <div>
                <h2 class="text-xl font-bold text-base-content">
                    Atribuição a Kits
                </h2>
                <div class="mt-2 border-b-2 border-primary w-full"></div>
            </div>

            <!-- BUSCA -->
            <div class="form-control">
                <input
                    type="text"
                    placeholder="Buscar kits pelo nome"
                    class="input input-bordered w-full"
                    x-model="search"
                />
            </div>

            <!-- LISTA COM FILTRO -->
            <div
                id="kits-list"
                class="border border-base-300 rounded-box bg-base-100
                       h-[240px] overflow-y-auto divide-y divide-base-200"
                hx-get="{% url 'catalog:kits-by-product-hx' %}?product_id={{ object.id }}"
                hx-trigger="load"
            >
                {% include "kits/partials/kits_related_to_products_list.html" %}
            </div>

        </div>
    </div>
</section>
