{% extends "base.html" %}

{% block content %}

    <div class="min-h-screen flex flex-col items-center justify-center py-10 px-2 md:px-10 xl:px-20">
        <div class="mx-auto space-y-6">
            <div class="text-center">
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-base-content sm:text-5xl">
                    Acesso Restrito
                </h1>

                <p class="mt-6 text-base leading-7 text-base-content/70">
                    Você não possui permissão para acessar esta funcionalidade. Entre em contato com o administrador do sistema se precisar de acesso.
                </p>

                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <span class="material-icons text-9xl opacity-20 absolute select-none -z-10">
                        lock
                    </span>
                </div>

                <div class="mt-10 flex items-center justify-center gap-x-6">
                  <a href="{% url 'accounts:login' %}" class="btn btn-primary shadow-lg">
                    Voltar para o Início
                  </a>

                  <button onclick="history.back()" class="btn btn-ghost">
                    <span class="material-icons text-sm">arrow_back</span>
                    Página Anterior
                  </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}