<div class="modal-box w-full max-w-[95vw] relative overflow-hidden flex flex-col h-[90vh]" style="width: 65vw;">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="form_modal.close()">✕</button>

    <div class="flex-grow overflow-auto mb-4">
        <h3 class="font-bold text-2xl mb-4">Trazer itens de outro orçamento</h3>
        <p class="text-lg text-base-content/70 mb-4">
            Selecione o orçamento do qual você deseja copiar os itens.
        </p>

        <form method="post" action="{% url 'budget:import_items_select_modal' pk=budget.pk %}"
              hx-post="{% url 'budget:import_items_select_modal' pk=budget.pk %}"
              hx-target="#modal-container" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="form-control w-full mb-6">
                {{ form.reference_budget_id.label_tag }}
                {{ form.reference_budget_id }}
                {% if form.reference_budget_id.errors %}
                    <label class="label"><span class="label-text-alt text-error">{{ form.reference_budget_id.errors.0 }}</span></label>
                {% endif %}
            </div>

            <!-- Botões ficam na parte inferior -->
            <div class="modal-action mt-auto">
                <button type="button" class="btn" onclick="form_modal.close()">Cancelar</button>
                <button type="submit" class="btn btn-primary d-inline-flex align-items-center">
                    Avançar
                    <span class="material-icons" style="font-size: 1rem;">arrow_forward</span>
                </button>
            </div>
        </form>
    </div>
</div>