<tr id="product-item-{{ item.product.id }}" {% if not is_full_render %}hx-swap-oob="true"{% endif %}>
    <td>{{ item.product.name }}</td>
    <td class="text-center">{{ item.quantity }}</td>
    <td>{{ item.product.selling_price }}</td>
    <td>-</td>
    <td class="font-bold">{{ item.total_price }}</td>
    <td class="text-center">
        <button
            type="button"
            class="btn btn-ghost btn-xs text-error"
            hx-post="{% url 'budget:remove_item_from_budget' budget.id item.product.id 'product' %}"
            hx-confirm="Deseja remover uma unidade deste produto?"
            hx-target="closest tr"
            hx-swap="outerHTML">
            <span class="material-icons text-sm">delete</span>
        </button>
    </td>
</tr>