<tr id="kit-item-{{ item.kit.id }}" hx-swap-oob="true">
    <td>{{ item.kit.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.kit.products.count }}</td>
    <td>{{ item.kit.services.count }}</td>
    <td class="text-center">
        <button
            type="button"
            class="btn btn-ghost btn-xs text-error"
            hx-swap="outerHTML"
            hx-confirm="Tem certeza que deseja remover este item?">
            <span class="material-icons text-sm">delete</span>
        </button>
    </td>
</tr>