<div class="modal modal-open" id="group-quick-create-modal">
    <div class="modal-box w-11/12 max-w-md">
        <h3 class="font-bold text-lg mb-4 uppercase">Cadastro Rápido de Grupo</h3>

        <form hx-post="{% url 'stock:group_quick_create' %}" hx-target="#group-modal-container">
            {% csrf_token %}
            {% crispy form %}

            <div class="modal-action">
                <button type="button" class="btn btn-ghost" onclick="document.getElementById('group-modal-container').innerHTML=''">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
