<div class="modal modal-open">
    <div class="modal-box w-10/12 max-w-3xl">
        <h3 class="font-bold text-lg mb-4 uppercase">Cadastro Rápido de Produto</h3>
        <form hx-post="{% url 'stock:product_quick_create' %}?item_idx={{ item_idx }}&pk={{ pk_import }}" hx-target="#modal-container">
            {% csrf_token %}
            {% crispy form %}

            <div class="modal-action">
                <button type="button" class="btn btn-ghost" onclick="document.getElementById('modal-container').innerHTML=''">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div id="group-modal-container"></div>
<script>
    document.body.addEventListener('groupAdded', function(evt) {
        const newGroup = evt.detail;
        const hiddenInput = document.querySelector('input[name="group"]');
        if (!hiddenInput) return;

        const alpineContainer = hiddenInput.closest('[x-data]');

        const optionsList = alpineContainer.querySelector('ul[role="listbox"]');
        if (optionsList) {
            const li = document.createElement('li');
            li.className = "relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-primary hover:text-white group transition-colors";
            li.setAttribute("@click", "select($el)");
            li.dataset.value = newGroup.id;
            li.dataset.label = newGroup.name;
            li.innerHTML = `<span class="block truncate">${newGroup.name}</span>`;
            optionsList.appendChild(li);
        }
        const data = Alpine.$data(alpineContainer);
        data.value = String(newGroup.id);
        data.label = newGroup.name;

        document.getElementById('group-modal-container').innerHTML = '';
    });
</script>