{% extends 'crud/list_page.html' %}

{% block crud_title %}Origens{% endblock %}
{% block crud_header_actions %}
    <a href="{% url 'sources:source_create' %}" class="btn btn-primary">Criar Origem</a>
{% endblock %}

{% block crud_table_wrapper_id %}sources-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'sources:source_list' %}{% endblock %}
{% block crud_table_hx_trigger %}sources-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'sources/partials/source_table.html' %}
{% endblock %}