<div id="budget-summary-content">
    <div class="border rounded-xl flex justify-between items-center p-3 rounded mb-2">
        <span>Total Produtos</span>
        <span>{{ budget.total_products_value }}</span>
    </div>
    <div class="border rounded-xl flex justify-between items-center p-3 rounded mb-2">
        <span>Total Serviços</span>
        <span>{{ budget.total_services_value }}</span>
    </div>
    <div class="border rounded-xl flex justify-between items-center p-3 rounded mb-2">
        <span>Total Frete</span>
        <span>{{ budget.total_products_shipping }}</span>
    </div>
    <div class="border rounded-xl flex justify-between items-center p-3 rounded mb-2">
        <span>Tempo Total</span>
        <span>{{ budget.total_duration_display }}</span>
    </div>
    <div class="border rounded-xl flex justify-between items-center p-3 rounded mb-2">
        <span class="font-bold">Total Geral</span>
        <span class="font-bold">{{ budget.total_base_value }}</span>
    </div>
</div>
