<table class="table table-compact border rounded-none w-full">
    <tr><th class="bg-base-200 w-1/3">Placa</th><td>{{ vehicle.plate|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Marca</th><td>{{ vehicle.brand|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Modelo</th><td>{{ vehicle.model|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Ano Fab.</th><td>{{ vehicle.year_fabrication|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Ano Mod.</th><td>{{ vehicle.year_model|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Motorização</th><td>{{ vehicle.engine|default:"-" }}</td></tr>
    <tr><th class="bg-base-200">Combustível</th><td>{{ vehicle.fuel|default:"-" }}</td></tr>
</table>