{% extends 'crud/list_page.html' %}

{% block crud_title %}Kits{% endblock %}
{% block crud_subtitle %}Catálogo de kits de produtos e/ou serviços.{% endblock %}

{% block crud_header_actions %}
    {% url 'catalog:kits_create' as kit_create_url %}
    {% include 'favorites/partials/favoritable_action_link.html' with action_url=kit_create_url action_label='Novo Kit' favorite_url=kit_create_url favorite_label='Novo Kit' %}
{% endblock %}

{% block crud_table_wrapper_id %}kits-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'catalog:kits_list' %}{% endblock %}
{% block crud_table_hx_trigger %}kits-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'kits/partials/kits_table.html' %}
{% endblock %}
