{% extends 'crud/list_page.html' %}

{% block crud_title %}Fornecedores{% endblock %}
{% block crud_header_actions %}
    {% url 'suppliers:supplier_create' as supplier_create_url %}
    {% include 'favorites/partials/favoritable_action_link.html' with action_url=supplier_create_url action_label='Criar fornecedor' favorite_url=supplier_create_url favorite_label='Criar fornecedor' %}
{% endblock %}

{% block crud_table_wrapper_id %}suppliers-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'suppliers:supplier_list' %}{% endblock %}
{% block crud_table_hx_trigger %}suppliers-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'suppliers/partials/supplier_table.html' %}
{% endblock %}
