{
  "openapi": "3.1.0",
  "info": {
    "title": "Webmania Fiscal API - Validada para Hunter V2",
    "version": "2026-06-23-fase-3.0",
    "description": "Especificacao operacional para implementacao futura. Fonte de verdade: documentacao oficial Webmania. Os schemas usam additionalProperties=true para preservar campos fiscais condicionais por documento, UF, municipio e provedor."
  },
  "servers": [
    {"url": "https://webmania.com.br/api", "description": "API v1 NF-e/NFC-e"},
    {"url": "https://api.webmania.com.br", "description": "API v2 NFS-e, CT-e, MDF-e, NFCom e DC-e"}
  ],
  "tags": [
    {"name": "NF-e/NFC-e"},
    {"name": "Classes fiscais"},
    {"name": "Empresa"},
    {"name": "NFS-e"},
    {"name": "CT-e/CT-e OS"},
    {"name": "MDF-e"},
    {"name": "NFCom", "description": "API v2.0.0. O Hunter exige feature flag e habilitacao administrativa por oficina como politica interna."},
    {"name": "DC-e", "description": "API v2.0.0. O Hunter exige feature flag e habilitacao administrativa por oficina como politica interna."}
  ],
  "paths": {
    "/1/nfe/emissao/": {
      "post": {
        "tags": ["NF-e/NFC-e"],
        "summary": "Emitir NF-e ou NFC-e",
        "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}],
        "requestBody": {"$ref": "#/components/requestBodies/NfeEmission"},
        "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "422": {"$ref": "#/components/responses/Error"}},
        "x-webmania-statuses": ["processando", "aprovado", "reprovado", "cancelado", "denegado", "contingencia"],
        "x-download-fields": ["xml", "danfe", "danfe_simples", "danfe_etiqueta"],
        "x-implementation-notes": ["modelo=1 NF-e; modelo=2 NFC-e.", "NF-e/NFC-e em producao com data de emissao >= 05/01/2026 exigem IBS/CBS conforme documentacao Webmania; Hunter deve bloquear sem configuracao minima.", "finalidade=5 exige tipo_credito para Nota Fiscal de Credito na Fase 2.5.", "finalidade=6 exige tipo_debito para Nota Fiscal de Debito na Fase 2.5.", "Finalidades 5/6 devem permanecer bloqueadas funcionalmente ate suporte IBS/CBS ou aprovacao explicita de subconjunto seguro.", "Para finalidades 5/6, os itens devem enviar somente impostos.ibs_cbs e nao devem enviar ICMS, ISSQN, IPI, II, PIS, COFINS ou correlatos.", "previa_danfe gera preview quando suportado.", "Persistir payload sanitizado antes da chamada remota."]
      }
    },
    "/1/nfe/devolucao/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Emitir NF-e de devolucao ou estorno", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeReturn"}, "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "danfe"], "x-hunter-link-policy": "FiscalDocumentLink obrigatorio para NF-e original local ou externa por chave."}},
    "/1/nfe/ajuste/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Emitir nota de ajuste", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeAdjustment"}, "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "danfe"], "x-hunter-link-policy": "FiscalDocumentLink opcional; nao bloquear ajuste sem nota original."}},
    "/1/nfe/complementar/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Emitir nota complementar", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeComplementary"}, "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "danfe"], "x-hunter-link-policy": "FiscalDocumentLink obrigatorio para NF-e original local ou externa por chave/UUID."}},
    "/1/nfe/cartacorrecao/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Emitir Carta de Correcao Eletronica", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeCorrection"}, "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml"], "x-implementation-notes": ["Nao altera valores fiscais. Validar status autorizado antes."]}},
    "/1/nfe/manifesta/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Manifestar destinatario da NF-e", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeManifest"}, "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/1/nfe/evento-ibs-cbs/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Registrar evento IBS/CBS", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeIbsCbsEvent"}, "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-implementation-notes": ["Validar campos vigentes da Reforma Tributaria antes de implementar."]}},
    "/1/nfe/evento-ibs-cbs/cancelar/": {"put": {"tags": ["NF-e/NFC-e"], "summary": "Cancelar evento IBS/CBS", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeCancelIbsCbsEvent"}, "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/1/nfe/classe-imposto/": {
      "get": {"tags": ["Classes fiscais"], "summary": "Listar classes de imposto", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "responses": {"200": {"$ref": "#/components/responses/TaxClassList"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}},
      "post": {"tags": ["Classes fiscais"], "summary": "Criar ou editar classe de imposto", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/TaxClassSave"}, "responses": {"200": {"$ref": "#/components/responses/TaxClass"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}},
      "delete": {"tags": ["Classes fiscais"], "summary": "Excluir classe de imposto", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/TaxClassDelete"}, "responses": {"200": {"$ref": "#/components/responses/TaxClassList"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}
    },
    "/1/nfe/empresa/": {"post": {"tags": ["Empresa"], "summary": "Atualizar empresa Webmania", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/WebmaniaCompanyUpdate"}, "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-implementation-notes": ["Certificado e logo devem passar por apps/workshops/services/files.py."]}},
    "/1/nfe/relatorios/": {"post": {"tags": ["NF-e/NFC-e"], "summary": "Exportar relatorios", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeReport"}, "responses": {"200": {"description": "Arquivo ou link de relatorio conforme formato solicitado.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FiscalResponse"}}, "text/csv": {"schema": {"type": "string"}}, "application/zip": {"schema": {"type": "string", "format": "binary"}}}}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/1/nfe/consulta/": {"get": {"tags": ["NF-e/NFC-e"], "summary": "Consultar NF-e/NFC-e por UUID, chave ou ID", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "parameters": [{"$ref": "#/components/parameters/NfeUuidQuery"}, {"$ref": "#/components/parameters/NfeKeyQuery"}, {"$ref": "#/components/parameters/NfeIdQuery"}], "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "danfe", "danfe_simples", "danfe_etiqueta"]}},
    "/1/nfe/sefaz/": {"get": {"tags": ["NF-e/NFC-e"], "summary": "Consultar status da SEFAZ", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "parameters": [{"$ref": "#/components/parameters/EnvironmentQuery"}], "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/1/nfe/certificado/": {"get": {"tags": ["NF-e/NFC-e"], "summary": "Consultar validade do certificado A1", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/1/nfe/cancelar/": {"put": {"tags": ["NF-e/NFC-e"], "summary": "Cancelar NF-e/NFC-e", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/CancelByUuidOrKey"}, "responses": {"200": {"$ref": "#/components/responses/NfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml"], "x-implementation-notes": ["NFC-e pode envolver substituicao quando documentado."]}},
    "/1/nfe/inutilizar/": {"put": {"tags": ["NF-e/NFC-e"], "summary": "Inutilizar sequencia de numeracao", "security": [{"consumerKey": [], "consumerSecret": [], "accessToken": [], "accessTokenSecret": []}], "requestBody": {"$ref": "#/components/requestBodies/NfeInvalidate"}, "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml"]}},
    "/2/nfse/emissao": {"post": {"tags": ["NFS-e"], "summary": "Emitir NFS-e por RPS ou lote", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfseEmission"}, "responses": {"200": {"$ref": "#/components/responses/NfseResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "422": {"$ref": "#/components/responses/Error"}}, "x-webmania-version": "3.1.1", "x-webmania-statuses": ["processando", "processado", "aprovado", "reprovado", "agendado", "cancelado", "contingencia"], "x-download-fields": ["xml", "pdf_nfse", "pdf_rps"], "x-implementation-notes": ["Funcionalidades variam por municipio/provedor.", "Envio com varios RPS e sempre assincrono."]}},
    "/2/nfse/substituir": {"post": {"tags": ["NFS-e"], "summary": "Substituir NFS-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfseSubstitute"}, "responses": {"200": {"$ref": "#/components/responses/NfseResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-implementation-notes": ["Disponibilidade depende do municipio/provedor."]}},
    "/2/nfse/manifestar": {"post": {"tags": ["NFS-e"], "summary": "Manifestar participacao no Padrao Nacional", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfseManifest"}, "responses": {"200": {"$ref": "#/components/responses/NfseResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/nfse/consulta/{identifier}": {"get": {"tags": ["NFS-e"], "summary": "Consultar NFS-e ou lote por UUID", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/NfseResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "pdf_nfse", "pdf_rps"], "x-official-divergence": "A documentacao lista /2/nfse/consulta, mas o exemplo oficial executa GET /2/nfse/consulta/{uuid}. O gateway futuro deve modelar a rota operacional conforme o exemplo."}},
    "/2/nfse/status": {"get": {"tags": ["NFS-e"], "summary": "Consultar status e recursos do municipio/provedor", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/MunicipalityQuery"}, {"$ref": "#/components/parameters/UfQuery"}], "responses": {"200": {"$ref": "#/components/responses/NfseStatus"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-implementation-notes": ["Usar antes de habilitar substituicao, lote, PDF RPS e acoes condicionais."]}},
    "/2/nfse/cancelar": {"put": {"tags": ["NFS-e"], "summary": "Cancelar NFS-e ou agendamento", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfseCancel"}, "responses": {"200": {"$ref": "#/components/responses/NfseResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml"]}},
    "/2/cte/emissao": {"post": {"tags": ["CT-e/CT-e OS"], "summary": "Emitir CT-e ou CT-e OS", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteEmission"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "dacte"]}},
    "/2/cte/emissao/simplificada": {"post": {"tags": ["CT-e/CT-e OS"], "summary": "Emitir CT-e simplificado", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteEmission"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-implementation-notes": ["Nao habilitar CT-e OS simplificado sem confirmacao oficial."]}},
    "/2/cte/entrega": {"post": {"tags": ["CT-e/CT-e OS"], "summary": "Registrar confirmacao de entrega", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteDelivery"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/entrega/cancelar": {"put": {"tags": ["CT-e/CT-e OS"], "summary": "Cancelar confirmacao de entrega", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteDelivery"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/correcao": {"post": {"tags": ["CT-e/CT-e OS"], "summary": "Emitir Carta de Correcao", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteCorrection"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/consulta/{identifier}": {"get": {"tags": ["CT-e/CT-e OS"], "summary": "Consultar CT-e ou CT-e OS", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "dacte"]}},
    "/2/cte/cancelar": {"put": {"tags": ["CT-e/CT-e OS"], "summary": "Cancelar CT-e ou CT-e OS", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CancelByUuidOrKey"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/evento": {"post": {"tags": ["CT-e/CT-e OS"], "summary": "Vincular evento de pagamento", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteEvent"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/evento/cancelar": {"put": {"tags": ["CT-e/CT-e OS"], "summary": "Cancelar evento de pagamento", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/CteEvent"}, "responses": {"200": {"$ref": "#/components/responses/CteResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/cte/consulta/evento/{identifier}": {"get": {"tags": ["CT-e/CT-e OS"], "summary": "Consultar historico de eventos de pagamento", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}}},
    "/2/mdfe/emissao": {"post": {"tags": ["MDF-e"], "summary": "Emitir MDF-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/MdfeEmission"}, "responses": {"200": {"$ref": "#/components/responses/MdfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-webmania-statuses": ["processando", "aprovado", "reprovado", "cancelado", "encerrado", "contingencia"], "x-download-fields": ["xml", "damdfe"], "x-implementation-notes": ["MDF-e aprovado e nao encerrado deve gerar pendencia operacional."]}},
    "/2/mdfe/consulta/{identifier}": {"get": {"tags": ["MDF-e"], "summary": "Consultar MDF-e por UUID ou chave", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/MdfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}, "x-download-fields": ["xml", "damdfe"], "x-official-divergence": "A documentacao lista /2/mdfe/consulta, mas o exemplo oficial executa GET /2/mdfe/consulta/{uuid-ou-chave}. O gateway futuro deve modelar a rota operacional conforme o exemplo."}},
    "/2/mdfe/encerrar": {"put": {"tags": ["MDF-e"], "summary": "Encerrar MDF-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/MdfeClose"}, "responses": {"200": {"$ref": "#/components/responses/MdfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/mdfe/cancelar": {"put": {"tags": ["MDF-e"], "summary": "Cancelar MDF-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/MdfeCancel"}, "responses": {"200": {"$ref": "#/components/responses/MdfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/mdfe/condutor": {"put": {"tags": ["MDF-e"], "summary": "Incluir condutor em MDF-e rodoviario", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/MdfeDriver"}, "responses": {"200": {"$ref": "#/components/responses/MdfeResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}}},
    "/2/nfcom/emissao": {"post": {"tags": ["NFCom"], "summary": "Emitir ou gerar previa de NFCom", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfcomEmission"}, "responses": {"200": {"$ref": "#/components/responses/NfcomResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true, "x-download-fields": ["xml", "danfecom"], "x-implementation-notes": ["Implementar somente com feature flag e habilitacao administrativa por oficina como politica interna Hunter."]}},
    "/2/nfcom/cancelar": {"put": {"tags": ["NFCom"], "summary": "Cancelar NFCom", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/NfcomCancel"}, "responses": {"200": {"$ref": "#/components/responses/NfcomResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true}},
    "/2/nfcom/consulta/{identifier}": {"get": {"tags": ["NFCom"], "summary": "Consultar NFCom", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/NfcomResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true, "x-download-fields": ["xml", "danfecom"]}},
    "/2/nfcom/status": {"get": {"tags": ["NFCom"], "summary": "Consultar status NFCom", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "responses": {"200": {"$ref": "#/components/responses/FiscalResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true}},
    "/xmlnfcom/{identifier}": {"get": {"tags": ["NFCom"], "summary": "Baixar XML NFCom", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"description": "XML NFCom.", "content": {"application/xml": {"schema": {"type": "string"}}}}, "404": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true}},
    "/danfecom/{identifier}": {"get": {"tags": ["NFCom"], "summary": "Baixar DANFECOM", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"description": "PDF DANFECOM.", "content": {"application/pdf": {"schema": {"type": "string", "format": "binary"}}}}, "404": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true}},
    "/2/dce/emissao": {"post": {"tags": ["DC-e"], "summary": "Emitir DC-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/DceEmission"}, "responses": {"200": {"$ref": "#/components/responses/DceResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true, "x-download-fields": ["xml", "dace"], "x-implementation-notes": ["Implementar somente com feature flag e habilitacao administrativa por oficina como politica interna Hunter."]}},
    "/2/dce/consulta/{identifier}": {"get": {"tags": ["DC-e"], "summary": "Consultar DC-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}, {"$ref": "#/components/parameters/Identifier"}], "responses": {"200": {"$ref": "#/components/responses/DceResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}, "404": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true, "x-download-fields": ["xml", "xml_cancelamento", "dace"]}},
    "/2/dce/cancelar": {"put": {"tags": ["DC-e"], "summary": "Cancelar DC-e", "security": [{"bearerAuth": []}], "parameters": [{"$ref": "#/components/parameters/AcceptJson"}], "requestBody": {"$ref": "#/components/requestBodies/DceCancel"}, "responses": {"200": {"$ref": "#/components/responses/DceResponse"}, "400": {"$ref": "#/components/responses/Error"}, "401": {"$ref": "#/components/responses/Error"}}, "x-feature-flag-required": true, "x-download-fields": ["xml_cancelamento"]}}
  },
  "components": {
    "securitySchemes": {
      "consumerKey": {"type": "apiKey", "in": "header", "name": "X-Consumer-Key", "description": "Obrigatorio na API v1 NF-e/NFC-e."},
      "consumerSecret": {"type": "apiKey", "in": "header", "name": "X-Consumer-Secret", "description": "Obrigatorio na API v1 NF-e/NFC-e."},
      "accessToken": {"type": "apiKey", "in": "header", "name": "X-Access-Token", "description": "Obrigatorio na API v1 NF-e/NFC-e."},
      "accessTokenSecret": {"type": "apiKey", "in": "header", "name": "X-Access-Token-Secret", "description": "Obrigatorio na API v1 NF-e/NFC-e."},
      "bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "Access-Token", "description": "API v2. Enviar Content-Type: application/json e Accept: application/json."}
    },
    "parameters": {
      "AcceptJson": {"name": "Accept", "in": "header", "required": true, "schema": {"type": "string", "const": "application/json"}, "description": "Obrigatorio na API v2."},
      "Identifier": {"name": "identifier", "in": "path", "required": true, "schema": {"type": "string"}, "description": "UUID ou chave de acesso, conforme operacao."},
      "NfeUuidQuery": {"name": "uuid", "in": "query", "required": false, "schema": {"type": "string"}},
      "NfeKeyQuery": {"name": "chave", "in": "query", "required": false, "schema": {"type": "string"}},
      "NfeIdQuery": {"name": "ID", "in": "query", "required": false, "schema": {"type": "string"}},
      "EnvironmentQuery": {"name": "ambiente", "in": "query", "required": false, "schema": {"type": "integer", "enum": [1, 2]}},
      "MunicipalityQuery": {"name": "municipio", "in": "query", "required": false, "schema": {"type": "string"}},
      "UfQuery": {"name": "uf", "in": "query", "required": false, "schema": {"type": "string"}}
    },
    "requestBodies": {
      "NfeEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeEmissionRequest"}, "examples": {"default": {"value": {"ID": "123", "operacao": 1, "natureza_operacao": "Venda de mercadoria", "modelo": 1, "finalidade": 1, "ambiente": 2, "url_notificacao": "https://app.example.com/finance/webmania/webhook/", "cliente": {"cpf": "000.000.000-00", "nome_completo": "Cliente Exemplo", "endereco": "Rua A", "numero": "10", "bairro": "Centro", "cidade": "Sao Paulo", "uf": "SP", "cep": "01000-000"}, "produtos": [{"nome": "Peca", "codigo": "P001", "ncm": "87089990", "quantidade": "1", "unidade": "UN", "subtotal": "100.00", "total": "100.00", "classe_imposto": "REF000001"}], "pedido": {"pagamento": 0, "forma_pagamento": "01", "valor_pagamento": "100.00", "total": "100.00"}}}}}}},
      "NfeReturn": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeReturnRequest"}}}},
      "NfeComplementary": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeComplementaryRequest"}}}},
      "NfeAdjustment": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeAdjustmentRequest"}}}},
      "NfeCorrection": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeCorrectionRequest"}}}},
      "NfeManifest": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeManifestRequest"}}}},
      "NfeIbsCbsEvent": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeIbsCbsEventRequest"}}}},
      "NfeCancelIbsCbsEvent": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeCancelIbsCbsEventRequest"}}}},
      "TaxClassSave": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaxClassRequest"}}}},
      "TaxClassDelete": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaxClassDeleteRequest"}}}},
      "WebmaniaCompanyUpdate": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebmaniaCompanyUpdateRequest"}}}},
      "NfeReport": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeReportRequest"}}}},
      "CancelByUuidOrKey": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CancelByUuidOrKeyRequest"}, "examples": {"default": {"value": {"uuid": "00000000-0000-0000-0000-000000000000", "motivo": "Cancelamento solicitado por erro de emissao."}}}}}},
      "NfeInvalidate": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeInvalidateRequest"}}}},
      "NfseEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseEmissionRequest"}, "examples": {"default": {"value": {"ID": "456", "ambiente": 2, "url_notificacao": "https://app.example.com/finance/webmania/webhook/", "rps": [{"numero": 10, "serie": "A", "servico": {"valor_servicos": "250.00", "discriminacao": "Servico mecanico", "classe_imposto": "REF000010"}, "tomador": {"cpf": "000.000.000-00", "nome_completo": "Cliente Exemplo"}}]}}}}}},
      "NfseSubstitute": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseSubstituteRequest"}}}},
      "NfseManifest": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseManifestRequest"}}}},
      "NfseCancel": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseCancelRequest"}}}},
      "CteEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CteEmissionRequest"}}}},
      "CteDelivery": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CteDeliveryRequest"}}}},
      "CteCorrection": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CteCorrectionRequest"}}}},
      "CteEvent": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CteEventRequest"}}}},
      "MdfeEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MdfeEmissionRequest"}}}},
      "MdfeClose": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MdfeCloseRequest"}}}},
      "MdfeCancel": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MdfeCancelRequest"}}}},
      "MdfeDriver": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MdfeDriverRequest"}}}},
      "NfcomEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfcomEmissionRequest"}}}},
      "NfcomCancel": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfcomCancelRequest"}}}},
      "DceEmission": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DceEmissionRequest"}}}},
      "DceCancel": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DceCancelRequest"}}}}
    },
    "responses": {
      "Error": {"description": "Erro de autenticacao, validacao, regra fiscal ou indisponibilidade.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "FiscalResponse": {"description": "Resposta fiscal generica.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FiscalResponse"}, "examples": {"default": {"value": {"uuid": "00000000-0000-0000-0000-000000000000", "modelo": "nfe", "status": "processando", "motivo": "", "chave": "", "xml": "https://...", "log": {"codigo": "100", "mensagem": "Processando"}}}}}}},
      "NfeResponse": {"description": "Resposta NF-e/NFC-e com status, chave e downloads.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfeResponse"}}}},
      "NfseResponse": {"description": "Resposta NFS-e ou lote RPS.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseResponse"}}}},
      "CteResponse": {"description": "Resposta CT-e/CT-e OS.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CteResponse"}}}},
      "MdfeResponse": {"description": "Resposta MDF-e.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MdfeResponse"}}}},
      "NfcomResponse": {"description": "Resposta NFCom v2.0.0.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfcomResponse"}}}},
      "DceResponse": {"description": "Resposta DC-e v2.0.0.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DceResponse"}}}},
      "TaxClass": {"description": "Classe de imposto.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaxClassRequest"}}}},
      "TaxClassList": {"description": "Lista de classes de imposto.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/TaxClassRequest"}}}}},
      "NfseStatus": {"description": "Status e recursos municipais/provedor.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NfseStatusResponse"}}}}
    },
    "schemas": {
      "ErrorResponse": {"type": "object", "additionalProperties": true, "properties": {"error": {"type": ["string", "object", "array"]}, "message": {"type": "string"}, "msg": {"type": "string"}}},
      "FiscalLog": {"type": "object", "additionalProperties": true, "properties": {"codigo": {"type": ["string", "integer"]}, "mensagem": {"type": "string"}, "status": {"type": ["string", "integer"]}}},
      "FiscalResponse": {"type": "object", "additionalProperties": true, "required": ["uuid", "status"], "properties": {"uuid": {"type": "string"}, "modelo": {"type": "string"}, "status": {"type": "string"}, "motivo": {"type": "string"}, "chave": {"type": "string"}, "numero": {"type": ["string", "integer"]}, "serie": {"type": ["string", "integer"]}, "recibo": {"type": "string"}, "protocolo": {"type": "string"}, "xml": {"type": "string", "format": "uri"}, "xml_cancelamento": {"type": "string", "format": "uri"}, "danfe": {"type": "string", "format": "uri"}, "danfe_simples": {"type": "string", "format": "uri"}, "danfe_etiqueta": {"type": "string", "format": "uri"}, "pdf_nfse": {"type": "string", "format": "uri"}, "pdf_rps": {"type": "string", "format": "uri"}, "dacte": {"type": "string", "format": "uri"}, "damdfe": {"type": "string", "format": "uri"}, "danfecom": {"type": "string", "format": "uri"}, "dace": {"type": "string", "format": "uri"}, "log": {"$ref": "#/components/schemas/FiscalLog"}}},
      "WebhookPayload": {"type": "object", "additionalProperties": true, "required": ["modelo", "uuid", "status"], "properties": {"modelo": {"type": "string", "enum": ["lote_rps", "nfse", "manifestacao_nfse", "nfe", "cte", "mdfe", "nfcom", "dce"]}, "uuid": {"type": "string"}, "status": {"type": "string"}, "motivo": {"type": "string"}, "chave": {"type": "string"}, "numero": {"type": ["string", "integer"]}, "codigo_verificacao": {"type": "string"}, "serie_rps": {"type": "string"}, "numero_rps": {"type": ["string", "integer"]}, "numero_lote": {"type": ["string", "integer"]}, "serie_lote": {"type": "string"}, "quantidade_rps": {"type": ["string", "integer"]}, "protocolo": {"type": "string"}, "info_nfse": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "xml": {"type": "string", "format": "uri"}, "xml_cancelamento": {"type": "string", "format": "uri"}, "pdf_nfse": {"type": "string", "format": "uri"}, "pdf_nfse_status": {"type": "string", "enum": ["processando", "processado", "indisponivel"]}, "pdf_rps": {"type": "string", "format": "uri"}, "danfe": {"type": "string", "format": "uri"}, "dacte": {"type": "string", "format": "uri"}, "damdfe": {"type": "string", "format": "uri"}, "danfecom": {"type": "string", "format": "uri"}, "dace": {"type": "string", "format": "uri"}, "log": {"$ref": "#/components/schemas/FiscalLog"}, "atualizado_em": {"type": "string", "format": "date-time", "description": "Referencia canonica para ordenar notificacoes do mesmo UUID."}}},
      "NfeResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"nfe": {"type": ["string", "integer"]}, "danfe": {"type": "string", "format": "uri"}}}]},
      "NfseResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"modelo": {"type": "string", "enum": ["nfse", "lote_rps", "manifestacao_nfse"]}, "numero": {"type": ["string", "integer"]}, "codigo_verificacao": {"type": "string"}, "serie_rps": {"type": "string"}, "numero_rps": {"type": ["string", "integer"]}, "numero_lote": {"type": ["string", "integer"]}, "serie_lote": {"type": "string"}, "quantidade_rps": {"type": ["string", "integer"]}, "info_nfse": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "pdf_nfse": {"type": "string", "format": "uri"}, "pdf_nfse_status": {"type": "string", "enum": ["processando", "processado", "indisponivel"]}, "pdf_rps": {"type": "string", "format": "uri"}, "nfse_substituida": {"type": "object", "additionalProperties": true}, "atualizado_em": {"type": "string", "format": "date-time"}}}]},
      "CteResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"dacte": {"type": "string", "format": "uri"}}}]},
      "MdfeResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"damdfe": {"type": "string", "format": "uri"}}}]},
      "NfcomResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"danfecom": {"type": "string", "format": "uri"}}}]},
      "DceResponse": {"allOf": [{"$ref": "#/components/schemas/FiscalResponse"}, {"type": "object", "additionalProperties": true, "properties": {"dace": {"type": "string", "format": "uri"}}}]},
      "NfeEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["operacao", "natureza_operacao", "modelo", "finalidade", "ambiente", "cliente", "produtos", "pedido"], "properties": {"ID": {"type": "string"}, "operacao": {"type": "integer"}, "natureza_operacao": {"type": "string"}, "modelo": {"type": "integer", "enum": [1, 2], "description": "1 NF-e; 2 NFC-e."}, "finalidade": {"type": "integer", "enum": [1, 3, 4, 5, 6], "description": "1 normal; 3 ajuste/estorno; 4 devolucao; 5 credito; 6 debito."}, "tipo_credito": {"type": "integer", "enum": [1, 2, 3, 4, 5], "description": "Obrigatorio para finalidade 5. 1 Multa e juros; 2 Credito presumido IBS ZFM; 3 Recusa total/nao localizacao; 4 Reducao de valores; 5 Transferencia de credito na sucessao. Finalidade 5 deve enviar somente impostos.ibs_cbs nos itens."}, "tipo_debito": {"type": "integer", "enum": [1, 2, 3, 4, 5, 6, 7, 8], "description": "Obrigatorio para finalidade 6. 1 Cooperativas; 2 Anulacao por saidas imunes/isentas; 3 NFs nao processadas; 4 Multa e juros; 5 Sucessao; 6 Pagamento antecipado; 7 Perda em estoque; 8 Desenquadramento do SN. Finalidade 6 deve enviar somente impostos.ibs_cbs nos itens."}, "nfe_referenciada": {"type": "array", "items": {"type": "string", "minLength": 44, "maxLength": 44}, "description": "NF-e anteriormente emitidas referenciadas pela Nota Fiscal de Credito. A documentacao oficial nao publica matriz de obrigatoriedade por tipo_credito."}, "ambiente": {"type": "integer", "enum": [1, 2]}, "url_notificacao": {"type": "string", "format": "uri"}, "previa_danfe": {"type": "boolean"}, "cliente": {"$ref": "#/components/schemas/CustomerNfe"}, "produtos": {"type": "array", "items": {"$ref": "#/components/schemas/NfeProduct"}, "minItems": 1, "description": "Para finalidade 5/6, os itens devem conter somente impostos.ibs_cbs como grupo tributario. Para finalidade 6 e tipo_debito 3 ou 4, cada item exige dfe_referenciado.chave."}, "pedido": {"$ref": "#/components/schemas/NfePedido"}}},
      "CustomerNfe": {"type": "object", "additionalProperties": true, "properties": {"cpf": {"type": "string"}, "cnpj": {"type": "string"}, "nome_completo": {"type": "string"}, "razao_social": {"type": "string"}, "ie": {"type": "string"}, "endereco": {"type": "string"}, "numero": {"type": "string"}, "bairro": {"type": "string"}, "cidade": {"type": "string"}, "uf": {"type": "string"}, "cep": {"type": "string"}, "email": {"type": "string"}, "telefone": {"type": "string"}}},
      "NfeProduct": {"type": "object", "additionalProperties": true, "required": ["nome", "codigo", "ncm", "quantidade", "unidade", "subtotal", "total"], "properties": {"nome": {"type": "string"}, "codigo": {"type": "string"}, "ncm": {"type": "string"}, "cest": {"type": "string"}, "quantidade": {"type": ["string", "number"]}, "unidade": {"type": "string"}, "origem": {"type": ["integer", "string"]}, "subtotal": {"type": ["string", "number"]}, "total": {"type": ["string", "number"]}, "codigo_cfop": {"type": "string", "description": "Obrigatorio na raiz do produto para finalidades 5/6."}, "dfe_referenciado": {"type": "object", "additionalProperties": false, "required": ["chave"], "properties": {"chave": {"type": "string", "minLength": 44, "maxLength": 44}, "item": {"type": "integer", "minimum": 1, "maximum": 999}}, "description": "Obrigatorio em cada produto quando finalidade=6 e tipo_debito=3 ou 4; item identifica o item do DF-e quando necessario."}, "classe_imposto": {"type": "string"}, "impostos": {"$ref": "#/components/schemas/NfeProductTaxes"}}},
      "NfeProductTaxes": {"type": "object", "additionalProperties": true, "properties": {"ibs_cbs": {"$ref": "#/components/schemas/IbsCbsTax"}}, "description": "Grupo de impostos por produto. Para finalidade 5/6, usar somente ibs_cbs e nao enviar ICMS, ISSQN, IPI, II, PIS, COFINS ou correlatos."},
      "IbsCbsTax": {"type": "object", "additionalProperties": true, "required": ["situacao_tributaria", "classificacao_tributaria"], "properties": {"situacao_tributaria": {"type": "string"}, "classificacao_tributaria": {"type": "string"}, "situacao_tributaria_regular": {"type": "string"}, "classificacao_tributaria_regular": {"type": "string"}, "ibs_estadual": {"type": "object", "additionalProperties": true}, "ibs_municipal": {"type": "object", "additionalProperties": true}, "cbs": {"type": "object", "additionalProperties": true}, "tributacao_monofasica": {"type": "object", "additionalProperties": true}, "credito_presumido": {"type": "object", "additionalProperties": true}, "transferencia_credito": {"type": "object", "additionalProperties": true}, "ajuste_competencia": {"type": "object", "additionalProperties": true}, "estorno_credito": {"type": "object", "additionalProperties": true}}, "x-confirmed-by-official-docs": true, "x-hunter-requirement": "Nao inferir classificacao; exigir configuracao administrativa/fiscal auditavel."},
      "NfePedido": {"type": "object", "additionalProperties": true, "properties": {"pagamento": {"type": ["integer", "string"]}, "forma_pagamento": {"type": "string"}, "valor_pagamento": {"type": ["string", "number"]}, "presenca": {"type": ["integer", "string"]}, "modalidade_frete": {"type": ["integer", "string"]}, "total": {"type": ["string", "number"]}, "informacoes_complementares": {"type": "string"}}},
      "NfeReturnRequest": {"allOf": [{"$ref": "#/components/schemas/NfeEmissionRequest"}, {"type": "object", "additionalProperties": true, "required": ["chave"], "properties": {"chave": {"type": "string", "description": "Chave da NF-e anterior."}, "produtos": {"type": "array", "items": {"$ref": "#/components/schemas/NfeProduct"}, "description": "Itens/quantidades devolvidos parcial ou totalmente."}, "estorno": {"type": "boolean", "description": "Marcador local para cenario de estorno tratado pelo endpoint de devolucao quando aplicavel."}}}]},
      "NfeComplementaryRequest": {"allOf": [{"$ref": "#/components/schemas/NfeEmissionRequest"}, {"type": "object", "additionalProperties": true, "properties": {"uuid": {"type": "string", "description": "UUID da nota original quando utilizado."}, "chave": {"type": "string", "description": "Chave da nota original quando utilizada."}, "tipo_complemento": {"type": "string", "enum": ["preco_quantidade", "impostos", "adicao_importacao"]}}}]},
      "NfeAdjustmentRequest": {"type": "object", "additionalProperties": true, "required": ["operacao", "natureza_operacao", "codigo_cfop", "valor_icms", "ambiente", "cliente"], "properties": {"operacao": {"type": ["integer", "string"]}, "natureza_operacao": {"type": "string"}, "codigo_cfop": {"type": ["integer", "string"]}, "valor_icms": {"type": ["string", "number"]}, "ambiente": {"type": "integer", "enum": [1, 2]}, "cliente": {"$ref": "#/components/schemas/CustomerNfe"}, "chave": {"type": "string", "description": "Opcional no Hunter quando houver relacao real com nota original."}, "uuid": {"type": "string", "description": "Opcional no Hunter quando houver relacao real com nota original."}}},
      "NfeCorrectionRequest": {"type": "object", "additionalProperties": true, "required": ["correcao"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "correcao": {"type": "string", "minLength": 15}, "sequencia": {"type": ["string", "integer"]}}},
      "NfeManifestRequest": {"type": "object", "additionalProperties": true, "required": ["chave", "evento"], "properties": {"chave": {"type": "string"}, "evento": {"type": "string"}, "justificativa": {"type": "string"}}},
      "NfeIbsCbsEventRequest": {"type": "object", "additionalProperties": true, "required": ["chave", "ambiente", "cod_evento"], "properties": {"chave": {"type": "string", "minLength": 44, "maxLength": 44, "description": "Chave de acesso da NF-e/NFC-e vinculada ao evento."}, "ambiente": {"type": "integer", "enum": [1, 2]}, "cod_evento": {"type": "string", "enum": ["112110", "112120", "112130", "112140", "112150", "211110", "211120", "211124", "211128", "211130", "211140", "211150"]}, "evento": {"type": ["integer", "string"], "minimum": 1, "maximum": 20, "description": "Sequencia do evento. A documentacao oficial informa padrao 1."}, "url_notificacao": {"type": "string", "format": "uri"}, "itens": {"type": "array", "items": {"$ref": "#/components/schemas/NfeIbsCbsEventItem"}}, "tipo_autor": {"type": ["integer", "string"], "enum": [1, 2, "1", "2"]}, "data_previsao_entrega": {"type": "string", "format": "date"}, "indicador_aceitacao": {"type": ["integer", "string"], "enum": [0, 1, "0", "1"]}}, "x-hunter-notes": ["Eventos IBS/CBS devem ser persistidos como FiscalDocumentEvent, nao como FiscalDocument.", "Campos especificos variam por cod_evento; validar contra a secao oficial antes de implementar cada subfase.", "Para cod_evento 112150, a implementacao validada usa data_previsao_entrega como campo top-level e evento como sequencia numerica; nao envia itens, produtos, ibs_cbs, credito/debito ou cancelamento."]},
      "NfeCancelIbsCbsEventRequest": {"type": "object", "additionalProperties": false, "required": ["uuid"], "properties": {"uuid": {"type": "string", "format": "uuid", "description": "UUID do evento IBS/CBS autorizado que sera cancelado."}, "ambiente": {"type": "integer", "enum": [1, 2], "description": "Opcional; deve corresponder ao ambiente do evento original quando informado."}, "url_notificacao": {"type": "string", "format": "uri"}}, "x-hunter-notes": ["Cancelamento de evento IBS/CBS cancela o evento remoto, nao a NF-e/NFC-e base.", "Na Fase 2.4D.2 o Hunter implementa somente cancelamento do evento 112110 e nao envia chave, cod_evento, evento, ibs_cbs, produtos, credito/debito ou payload do documento base.", "Na Fase 2.4D.4 o Hunter aplica o mesmo contrato somente ao cancelamento do evento 112150 autorizado, sem criar cancelamento generico para os demais codigos.", "Na Fase 2.4D.5.2 o Hunter aplica o mesmo contrato somente ao cancelamento do evento 112130 autorizado, sem criar cancelamento generico para 112120, 112140 ou 211xxx."]},
      "NfeIbsCbsEventItem": {"type": "object", "additionalProperties": true, "properties": {"item": {"type": ["integer", "string"], "description": "Numero sequencial fiscal do item na NF-e/NFC-e."}, "base_calculo": {"type": ["number", "string"]}, "valor_ibs": {"type": ["number", "string"], "description": "Obrigatorio nos eventos 112120, 112130 e 112140 conforme documentacao oficial."}, "valor_cbs": {"type": ["number", "string"], "description": "Obrigatorio nos eventos 112120, 112130 e 112140 conforme documentacao oficial."}, "valor_credito_ibs": {"type": ["number", "string"]}, "valor_credito_cbs": {"type": ["number", "string"]}, "controle_estoque": {"$ref": "#/components/schemas/NfeIbsCbsEventStockControl"}, "credito_presumido": {"type": "object", "additionalProperties": true}, "dfe_referenciado": {"type": "object", "additionalProperties": true, "properties": {"chave": {"type": "string", "minLength": 44, "maxLength": 44}, "item": {"type": ["integer", "string"]}}}}, "x-official-event-notes": {"112120": "Usar item, valor_ibs, valor_cbs, controle_estoque.quantidade e controle_estoque.unidade.", "112130": "Usar item, valor_ibs, valor_cbs, quantidade/unidade de perecimento e valores de estorno IBS/CBS.", "112140": "Usar item da nota de debito de pagamento antecipado, valor_ibs, valor_cbs e quantidade/unidade nao fornecida."}},
      "NfeIbsCbsEventStockControl": {"type": "object", "additionalProperties": false, "properties": {"quantidade": {"type": ["number", "string"], "description": "Evento 112120: quantidade sem atendimento dos requisitos para conversao em isencao."}, "unidade": {"type": "string", "minLength": 1, "maxLength": 6, "description": "Evento 112120: unidade de medida."}, "quantidade_perecimento": {"type": ["number", "string"], "description": "Evento 112130: quantidade objeto de perecimento, perda, roubo ou furto."}, "unidade_perecimento": {"type": "string", "minLength": 1, "maxLength": 6, "description": "Evento 112130: unidade de medida da quantidade perecida/perdida."}, "valor_ibs_estorno": {"type": ["number", "string"], "description": "Evento 112130: valor de credito de IBS a ser estornado."}, "valor_cbs_estorno": {"type": ["number", "string"], "description": "Evento 112130: valor de credito de CBS a ser estornado."}, "quantidade_nao_fornecida": {"type": ["number", "string"], "description": "Evento 112140: quantidade nao fornecida com imposto antecipado."}, "unidade_nao_fornecida": {"type": "string", "minLength": 1, "maxLength": 6, "description": "Evento 112140: unidade da quantidade nao fornecida."}}, "x-confirmed-by-official-docs": true},
      "TaxClassRequest": {"type": "object", "additionalProperties": true, "required": ["referencia", "descricao"], "properties": {"referencia": {"type": "string"}, "descricao": {"type": "string"}, "tipo": {"type": "string", "enum": ["nfe", "nfse"]}, "status": {"type": "string"}, "icms": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "ipi": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "pis": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "cofins": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "ibs_cbs": {"$ref": "#/components/schemas/IbsCbsTax"}}},
      "TaxClassDeleteRequest": {"type": "object", "required": ["referencia"], "properties": {"referencia": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}]}}},
      "WebmaniaCompanyUpdateRequest": {"type": "object", "additionalProperties": true, "properties": {"cnpj": {"type": "string"}, "razao_social": {"type": "string"}, "nfe_serie": {"type": "integer"}, "nfe_numero": {"type": "integer"}, "nfce_serie": {"type": "integer"}, "nfse_rps_serie": {"type": "string"}, "nfse_rps_numero": {"type": "integer"}, "certificado": {"type": "string", "description": "Certificado A1 em Base64."}, "certificado_senha": {"type": "string"}, "logomarca": {"type": "string", "format": "uri"}}},
      "NfeReportRequest": {"type": "object", "additionalProperties": true, "properties": {"data_inicial": {"type": "string"}, "data_final": {"type": "string"}, "modelo": {"type": "integer"}, "formato": {"type": "string", "enum": ["csv", "xml", "danfe"]}}},
      "CancelByUuidOrKeyRequest": {"type": "object", "additionalProperties": true, "required": ["motivo"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "motivo": {"type": "string", "minLength": 15}}},
      "NfeInvalidateRequest": {"type": "object", "additionalProperties": true, "required": ["sequencia", "serie", "modelo", "ambiente", "motivo"], "properties": {"sequencia": {"type": "string", "example": "100-105"}, "serie": {"type": ["string", "integer"]}, "modelo": {"type": "integer", "enum": [1, 2]}, "ambiente": {"type": "integer", "enum": [1, 2]}, "motivo": {"type": "string", "minLength": 15}}},
      "NfseEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "rps"], "properties": {"ID": {"type": "string", "minLength": 1, "maxLength": 15}, "ambiente": {"type": "integer", "enum": [1, 2]}, "url_notificacao": {"type": "string", "format": "uri"}, "data_agendamento": {"type": "string", "description": "Data e hora no formato YYYY-MM-DD HH:MM:00."}, "previa_danfe": {"type": "boolean"}, "rps": {"type": "array", "items": {"$ref": "#/components/schemas/NfseRps"}, "minItems": 1, "maxItems": 50}}},
      "NfseRps": {"type": "object", "additionalProperties": true, "required": ["servico", "tomador"], "properties": {"numero": {"type": ["string", "integer"]}, "serie": {"type": "string"}, "servico": {"$ref": "#/components/schemas/NfseService"}, "tomador": {"$ref": "#/components/schemas/NfseTaker"}}},
      "NfseService": {"type": "object", "additionalProperties": true, "required": ["valor_servicos", "discriminacao"], "properties": {"valor_servicos": {"type": ["string", "number"]}, "discriminacao": {"type": "string"}, "classe_imposto": {"type": "string"}, "codigo_servico": {"type": "string"}, "codigo_tributacao_municipio": {"type": "string"}, "impostos": {"type": "object", "additionalProperties": true}}},
      "NfseTaker": {"type": "object", "additionalProperties": true, "properties": {"cpf": {"type": "string"}, "cnpj": {"type": "string"}, "nome_completo": {"type": "string"}, "razao_social": {"type": "string"}, "email": {"type": "string"}}},
      "NfseSubstituteRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "codigo_verificacao", "motivo", "rps"], "properties": {"ambiente": {"type": "integer", "enum": [1, 2]}, "codigo_verificacao": {"type": "string"}, "motivo": {"type": "integer", "enum": [1, 2, 4]}, "rps": {"$ref": "#/components/schemas/NfseRps"}}},
      "NfseManifestRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "manifestador", "evento"], "anyOf": [{"required": ["uuid"]}, {"required": ["chave"]}], "properties": {"ambiente": {"type": "integer", "enum": [1, 2]}, "uuid": {"type": "string", "format": "uuid"}, "chave": {"type": "string", "maxLength": 50}, "manifestador": {"type": "integer", "enum": [1, 2], "description": "1 Tomador; 2 Intermediario."}, "evento": {"type": "integer", "enum": [1, 2], "description": "1 Confirmacao; 2 Rejeicao."}, "motivo_rejeicao": {"type": "integer", "enum": [1, 2, 3, 4, 5, 9]}, "justificativa_rejeicao": {"type": "string", "minLength": 15, "maxLength": 255, "description": "Obrigatoria quando motivo_rejeicao=9."}}},
      "NfseCancelRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "motivo"], "properties": {"uuid": {"type": "string"}, "motivo": {"type": ["integer", "string"], "description": "Motivos documentados incluem 1, 2 e 4 conforme municipio/provedor."}}},
      "NfseStatusResponse": {"type": "object", "additionalProperties": true, "required": ["status"], "properties": {"status": {"type": "boolean"}, "modelo": {"type": "string"}, "versao": {"type": "string"}, "ambientes": {"type": "array", "items": {"type": "integer", "enum": [1, 2]}}, "autenticacao": {"type": "array", "items": {"type": "string", "enum": ["certificado_a1", "login_senha", "token"]}}, "emissao": {"type": "array", "items": {"type": "string", "enum": ["lote_rps", "nfse"]}}, "funcoes": {"type": "array", "items": {"type": "string", "enum": ["consultar", "cancelar", "substituir"]}}, "codigo_servico": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "parametros_disponiveis": {"type": "object", "additionalProperties": {"type": "string", "enum": ["obrigatorio", "obrigatorio_pf", "obrigatorio_pj", "opcional"]}}}},
      "CteEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "tomador", "remetente", "destinatario"], "properties": {"ID": {"type": "string"}, "ambiente": {"type": "integer", "enum": [1, 2]}, "modelo": {"type": "string"}, "url_notificacao": {"type": "string", "format": "uri"}, "tomador": {"type": "object", "additionalProperties": true}, "remetente": {"type": "object", "additionalProperties": true}, "destinatario": {"type": "object", "additionalProperties": true}, "servico": {"type": "object", "additionalProperties": true}, "documentos": {"type": "array", "items": {"type": "object", "additionalProperties": true}}}},
      "CteDeliveryRequest": {"type": "object", "additionalProperties": true, "required": ["uuid"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "data_entrega": {"type": "string"}, "documento_recebedor": {"type": "string"}, "nome_recebedor": {"type": "string"}}},
      "CteCorrectionRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "correcao"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "correcao": {"type": "array", "items": {"type": "object", "additionalProperties": true}}}},
      "CteEventRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "evento"], "properties": {"uuid": {"type": "string"}, "evento": {"type": "string"}, "dados_pagamento": {"type": "object", "additionalProperties": true}}},
      "MdfeEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "modalidade", "uf_inicio", "uf_fim"], "properties": {"ID": {"type": "string"}, "ambiente": {"type": "integer", "enum": [1, 2]}, "url_notificacao": {"type": "string", "format": "uri"}, "modalidade": {"type": "string"}, "uf_inicio": {"type": "string"}, "uf_fim": {"type": "string"}, "veiculo": {"type": "object", "additionalProperties": true}, "condutores": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "documentos": {"type": "array", "items": {"type": "object", "additionalProperties": true}}}},
      "MdfeCloseRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "municipio", "uf"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "municipio": {"type": "string"}, "uf": {"type": "string"}, "data_encerramento": {"type": "string"}}},
      "MdfeCancelRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "motivo"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "motivo": {"type": "string", "minLength": 15}}},
      "MdfeDriverRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "condutor"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "condutor": {"type": "object", "additionalProperties": true}}},
      "NfcomEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "finalidade", "cliente", "itens"], "properties": {"ID": {"type": "string"}, "ambiente": {"type": "integer", "enum": [1, 2]}, "previa": {"type": "boolean"}, "finalidade": {"type": "integer"}, "url_notificacao": {"type": "string", "format": "uri"}, "cliente": {"type": "object", "additionalProperties": true}, "assinante": {"type": "object", "additionalProperties": true}, "itens": {"type": "array", "items": {"type": "object", "additionalProperties": true}}, "documento_original": {"type": "object", "additionalProperties": true}}},
      "NfcomCancelRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "motivo"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "motivo": {"type": "string", "minLength": 15}}},
      "DceEmissionRequest": {"type": "object", "additionalProperties": true, "required": ["ambiente", "remetente", "destinatario", "itens"], "properties": {"ID": {"type": "string"}, "ambiente": {"type": "integer", "enum": [1, 2]}, "url_notificacao": {"type": "string", "format": "uri"}, "remetente": {"type": "object", "additionalProperties": true}, "destinatario": {"type": "object", "additionalProperties": true}, "transporte": {"type": "object", "additionalProperties": true}, "itens": {"type": "array", "items": {"type": "object", "additionalProperties": true}}}},
      "DceCancelRequest": {"type": "object", "additionalProperties": true, "required": ["uuid", "motivo"], "properties": {"uuid": {"type": "string"}, "chave": {"type": "string"}, "motivo": {"type": "string", "minLength": 15}}}
    }
  },
  "x-validation": {
    "source_file": "webmania_fiscal_openapi_context.json",
    "official_docs_checked": [
      "https://webmania.com.br/docs/rest-api-nfe/",
      "https://ajuda.webmania.com.br/pt-BR/articles/13746583-rejeicao-1001-nf-e-com-finalidade-de-debito-ou-credito-somente-para-ibs-cbs",
      "https://webmania.com.br/docs/rest-api-nfse/",
      "https://www.gov.br/nfse/pt-br/biblioteca/documentacao-tecnica/documentacao-atual",
      "https://www.gov.br/nfse/pt-br/biblioteca/documentacao-tecnica/apis-prod-restrita-e-producao",
      "https://webmania.com.br/docs/rest-api-cte/",
      "https://webmania.com.br/docs/rest-api-mdfe/",
      "https://webmania.com.br/docs/rest-api-nfcom/",
      "https://webmania.com.br/docs/rest-api-dce/"
    ],
    "divergences_registered": [
      "NFS-e: pagina lista /2/nfse/consulta, mas exemplo operacional oficial usa /2/nfse/consulta/{uuid}.",
      "NFS-e: substituicao oficial atual usa ambiente, codigo_verificacao, motivo e um objeto rps; o schema anterior incorretamente exigia uuid e array rps.",
      "NFS-e: manifestacao e exclusiva do Padrao Nacional e exige manifestador/evento; rejeicao possui campos condicionais.",
      "NFS-e: notificacoes podem chegar fora de ordem; atualizado_em e a referencia canonica por UUID.",
      "MDF-e: pagina lista /2/mdfe/consulta, mas exemplo operacional oficial usa /2/mdfe/consulta/{uuid-ou-chave}.",
      "CT-e simplificado nao deve ser habilitado para CT-e OS sem confirmacao oficial.",
      "NFCom e DC-e sao APIs v2.0.0; o Hunter exige feature flag e habilitacao administrativa por oficina como politica interna."
    ],
        "implementation_scope": "Documento revalidado na Fase 3.0; corrige contratos NFS-e de substituicao, manifestacao, status municipal, agendamento e notificacoes. Esta atualizacao documental nao executa chamadas reais nem altera codigo funcional."
  }
}
