{% extends 'crud/list_page.html' %}

{% block crud_title %}Tipos de óleo{% endblock %}
{% block crud_subtitle %}Configuração de validade e antecedência de notificação por tipo de óleo.{% endblock %}

{% block crud_header_actions %}
    <a href="{% url 'workshops:oil_type_create' %}" class="btn btn-primary">Criar tipo de óleo</a>
{% endblock %}

{% block crud_table_wrapper_id %}oil-types-table-wrapper{% endblock %}
{% block crud_table_hx_get %}{% url 'workshops:oil_type_list' %}{% endblock %}
{% block crud_table_hx_trigger %}oil-types-table-refresh from:body{% endblock %}

{% block crud_table %}
    {% include 'oil_types/partials/oil_type_table.html' %}
{% endblock %}
